.align-left-container {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.upload-image-container {
    height: 270px;
    width: 100%;
    border: 3px solid var(--color-primary);
    border-radius: 32px;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divider {
  width: 100%;
  margin-top: 30px;
  border-bottom: 0.5px solid var(--color-text);
}

.divider-text {
    position: absolute;
    left: 50%;               
    bottom: 0;              
    transform: translate(-50%, 50%); 
    background-color: white;
    padding: 0px 16px;
}